body {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.navbar {
    /* border: 1px solid black; */
    padding: 40px 30px;
    display: flex;
}

.navbar-name {
    font-size: 30px;
    flex: 1;
    /* border: 1px solid black; */
    text-align: center;
    font-family: "Great Vibes", serif;
}

.navbar-blank {
    flex: 1.4;
}

.links {
    display: flex;
    padding: 10px 20px;
    /* border: 1px solid black; */
    flex: 2.4;
    justify-content: space-around;
}

.navbar .links button {
    text-decoration: none;
    /* padding: 25px; */
    font-family: Montserrat;
    opacity: .6;
    transition: all .2s ease-in-out;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

#sing {
    /* max-width: 100%; */
    width: 100%;
    margin-top: -10px;
}

#typed-out-container {
    display: inline-block;
    margin: 0;
}

#typed-out-text {
    overflow: hidden;
    width: 1;
    white-space: nowrap;
    opacity: 0;
}

.type-animation {
    border-right: .15em solid orange;
    animation: typing 4s steps(45, end) forwards;
    animation-iteration-count: 1;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.body-container {
    width: 80%;
    margin: 0 auto;
}

h1.section-header {
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 20px;
}

.section-header:first-child {
    padding-top: 20px;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me-text {
    /* border: 1px solid black; */

    flex: 1;
    font-size: 1.2em;
    text-align: left;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-text>p {
    padding: 0px 10px;
    margin: 10px;
}

.about-me-image {
    /* border: 1px solid black; */

    flex: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about-me-image>img {
    max-height: 100%;
    max-width: 80%;
}

.experience-container {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.experience-item {

}

.experience-item > img {
    margin-top: 10px;
    max-height: 100%;
    max-width: 20%;
}

.experience-item > .exp-name {
    margin-bottom: 10px;
}

.experience-item > .exp-location {
    margin-top: 10px;
    margin-bottom: 10px;
}

.experience-item > .exp-date {
    margin-top: 10px;
}

.experience-item > p {
    padding: 0px 10px;
}

.projects-container {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-item > img {
    max-width: 100%;
    max-height: 240px;
    margin-top: 10px;
}

.project-item > a {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    color: #cc8500;
}

.project-item > a:visited {
    color: #cc8500;
}

.project-item > p {
    padding-left: 10px;
    padding-right: 10px;
}

.skills-container {
    display: flex;
}

.skills-container .languages {
    flex: 1;
}

.skills-container .libraries {
    flex: 1;
}

.skills-container .platforms {
    flex: 1;
}

.skills-container > div > h2 {
    margin-bottom: 4px;
}

.skill-item {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-item>div {
    flex: 1;
    text-align: right;
}

.skill-item img {
    /* display: inline; */
    max-width: 32px;
    max-height: 32px;
}

.skill-item > p {
    /* border:1px solid black; */

    display: inline;
    margin-left: 12px;
    margin-right: 40px;
    margin-top: 2px;
    margin-bottom: 2px;

    text-align: left;
    font-size: 1.2em;
    padding: 0;

    height: auto;
    flex: 1;
}

#empty-footer {
    height: 60px;
}